---
import { Markdown } from 'astro/components';
import Header from "../components/Header.astro"
import Head from "../components/Head.astro"
import Footer from "../components/Footer.astro"
const {content} = Astro.props;




---

<!doctype html>
<html>
<head>
	
	<meta property="og:description" content={content.description} />
	<meta property="og:image" content={`https://debashishnabajja.netlify.app${content.card}`} />
	<meta property="og:image:alt" content={`${content.title} cover image`} />
	<meta name="description" content={content.description}/>
  	<meta name="keywords" content={content.tags.join(",")}>
    <Head title={`${content.title} - Debashish Nabajja · UI-UX Designer Portfolio`}/>
</head>
<body class="text-white bg-zinc-800">
    <div class="relative overflow-x-clip">
			<svg class="hidden md:inline absolute inset-0 -z-30 h-auto w-[100vw]" viewBox="0 0 1366 975" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M-198.5 -83.5H153.381V268.381H-198.5V-83.5ZM1213.02 -83.5H1564.91V268.381H1213.02V-83.5ZM1213.02 269.381H1564.91V621.262H1213.02V269.381ZM1213.02 622.262H1564.91V974.144H1213.02V622.262ZM1212.02 622.262V974.144H860.143V622.262H1212.02ZM859.143 622.262V974.144H507.262V622.262H859.143ZM506.262 622.262V974.144H154.381V622.262H506.262ZM153.381 622.262V974.144H-198.5V622.262H153.381ZM153.381 621.262H-198.5V269.381H153.381V621.262ZM154.381 621.262V269.381L506.262 269.381V621.262H154.381ZM507.262 621.262V269.381H859.143V621.262H507.262ZM860.143 621.262V269.381H1212.02V621.262H860.143ZM1212.02 -83.5V268.381H860.143V-83.5H1212.02ZM507.262 -83.5H859.143V268.381H507.262V-83.5ZM154.381 -83.5H506.262V268.381L154.381 268.381V-83.5Z" stroke="url(#paint0_linear_509_1079)"/>
			<defs>
			<linearGradient id="paint0_linear_509_1079" x1="683.203" y1="-84" x2="683.203" y2="974.644" gradientUnits="userSpaceOnUse">
			<stop stop-color="#404040"/>
			<stop offset="1" stop-color="#404040" stop-opacity="0"/>
			</linearGradient>
			</defs>
			</svg>
	</div>
	<div class="relative overflow-x-clip">
		<svg class="absolute inset-0 -z-20 h-auto w-[100vw] md:hidden" viewBox="0 0 414 706" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M-450.5 -83.5H-188.1V178.833H-450.5V-83.5ZM603.1 -83.5H865.5V178.833H603.1V-83.5ZM603.1 179.833H865.5V442.167H603.1V179.833ZM603.1 443.167H865.5V705.5H603.1V443.167ZM602.1 443.167V705.5H339.7V443.167H602.1ZM338.7 443.167V705.5H76.2999V443.167H338.7ZM75.2999 443.167V705.5H-187.1V443.167H75.2999ZM-188.1 443.167V705.5H-450.5V443.167H-188.1ZM-188.1 442.167H-450.5V179.833H-188.1V442.167ZM-187.1 442.167V179.833L75.2999 179.833V442.167H-187.1ZM76.2999 442.167V179.833H338.7V442.167H76.2999ZM339.7 442.167V179.833H602.1V442.167H339.7ZM602.1 -83.5V178.833H339.7V-83.5H602.1ZM76.2999 -83.5H338.7V178.833H76.2999V-83.5ZM-187.1 -83.5H75.2999V178.833L-187.1 178.833V-83.5Z" stroke="url(#paint0_linear_548_1101)"/>
		<defs>
		<linearGradient id="paint0_linear_548_1101" x1="207.5" y1="-84" x2="207.5" y2="706" gradientUnits="userSpaceOnUse">
		<stop stop-color="#404040"/>
		<stop offset="1" stop-color="#404040" stop-opacity="0"/>
		</linearGradient>
		</defs>
		</svg>
	</div>
    <Header/>
    <main>
        <section class="font-prime container px-[7.729vw] pt-11 md:mx-auto md:max-w-[75rem] md:px-6 md:pt-28">
        <article>
			<div class="flex items-start gap-3 mb-8 md:gap-6 md:mb-16">
				<div>
					<h1 class="text-xl font-light font-prime">{content.title}</h1>
					<p class="py-4 text-3xl font-normal leading-snug tracking-tighter font-prime md:text-5xl">
					{content.description}
					</p>
				</div>
			</div>	
			<div class="mb-9 md:mb-12"><img src={content.cover} alt={content.cover}></div>
			<div class="article">
				<Markdown content={content.astro.source} />
			</div>
        </article>
        </section>
    </main>
	<Footer/>
</body>
</html>